{% extends 'base.html' %}
{% load static %}
{% block head %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/stories/stories-details.css' %}"
/>
{% endblock %}

{% block content %}
<div>
  <h1>About Campfire</h1>
  <hr>
  <h2>Have you ever wanted to write a story, but could not think of a good structured plot? Or have you ever wanted to see an idea happen, but didn't have the time or skills to write that story? If yes, this app is the perfect place to publish an idea, or find one to get your creativity rolling!</h2>
</div>
{% endblock %}