div{
  max-width: 70%;
  position: center;
  margin:auto;
  text-align: center;
}

h3{
  display:inline;
  margin: 20px;
}

table{
  margin: auto
}

.header-logo-container {
  margin: auto;
  padding: 10px 20px 0;
  max-width: 400px;
}

