.stories{
  text-align: center;
}

.card{
  margin:auto;
  border: solid black 5px;
  background-color: rgb(204, 204, 204);
  margin-bottom: 20px;

}

.details{
  text-decoration: none;
  color: black;
  text-overflow: ellipsis;
  width: 4ch;
  max-width: 4ch;
  overflow: hidden;
  display: contents;
}

a:hover{
  color: white
}